<div class="container">
  <h1>Local Application</h1>
  <div class="row">
    <div class="col-4">
      <div class="alert-button blue">
        <img src="../../../assets/img/applications_graphical.svg" alt="neviem">
        <div class="text">
          <span class="text">Applications</span>
          <h1>{{missingWiki}}</h1>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="alert-button red">
      <img src="../../../assets/img/alert_graphical.svg" alt="neviem">
      <div class="text">
        <span class="text">Missing WIKI</span>
        <h1>{{missingWiki}}</h1>
      </div>
    </div>
    </div>
    <div class="col-4">
      <div class="alert-button orange">
        <img src="../../../assets/img/alarm-system_graphical.svg" alt="neviem">
        <div class="text">
          <span class="text">Old Version</span>
          <h1>{{missingWiki}}</h1>
        </div>
      </div>
  </div>
</div>
</div>
<router-outlet></router-outlet>
